 .jumbotron{
	background-color: yellow;
	color: black;
	margin-top: 50px;

}


footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
	margin-top: 10px;
}



.btn-reserva{
	width:  100%;
	
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}

.footer-address-icon{
	padding-right: 10px;

}