@yellow:#d9560f;
@red:#05e86b;
@verde:#c205e8;


.margenes(@top: 0px,@bottom: 0px){
	margin-top: @top;
	margin-bottom: @bottom;
}
.paleta(@background,@color){
	background-color:@background;
	color:@color;
}
.jumbotron{
	.paleta(@yellow,@verde);
	.margenes(50px,0px);

}


footer{
	padding: 10px 10px 0 10px;
	background-color: @red;
	.margenes(10px,0px);
}

.card-hotel {
	flex:1 200px;
	.margenes(10px,0px);

}

.btn-reserva{
	width:  100%;
	border-radius: 0px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
}