$yellow:#fff021;
$red:#eb150e;
$verde:#25ad18;

@mixin groso($width){
	border:$width solid #ddd;
	&:hover{
	  border-color:#FFFF00;
	}
}

h1{
	@include groso(15px);
}


@mixin margenes($top,$bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}
@mixin paleta($background,$color){
	background-color:$background;
	color:$color;
}
.jumbotron{
	@include paleta($yellow,$verde);
	@include margenes(50px,0px);

}


footer{
	padding: 10px 10px 0 10px;
	background-color: $red;
	@include margenes(10px,0px);
}

.card-hotel {
	flex:1 200px;
	@include margenes(10px,0px);

}

.btn-reserva{
	width:  100%;
	border-radius: 0px;
}
.btn-reserva{
	width:100%;
	border-radius: 0px;
}

.footer-address-icon{
	padding-right: 10px;

}

.tab-content{
	padding-top: 10px;
}